@config "../../tailwind.config.js";
@import "tailwindcss";

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  src: url("/fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
  src: url("/fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2");
}

@layer base {
  :root {
    --color-background: hsl(210deg, 20%, 96%);
    --color-background-secondary: hsl(60deg 100% 100%);
    /* --color-text: hsl(214deg 100% 15%);
    --color-headline: hsl(214deg 100% 15%);
    --color-paragraph: hsl(214deg 44% 19%); */
    --color-text: hsl(216deg, 6%, 15%);
    --color-headline: hsl(216deg 6% 15%);
    --color-paragraph: hsl(240deg 8% 9%);

    /* --color-primary: hsl(171deg 100% 46%); */
    --color-primary: hsl(255deg 83% 65%);
    /* --color-secondary: hsl(350deg 100% 66%); */
    --color-secondary: hsl(161deg, 66%, 37%);
    --color-tertiary: hsl(51deg 98% 65%);
    --color-gray: hsl(225deg, 12%, 40%);
    --color-gray-1000: hsl(225deg, 15%, 15%);
    --color-overlay: hsl(220deg 5% 40% / 0.8);

    --font-weight-regular: 400;
    --font-weight-bold: 700;

    --font-family-sans: "Spoqa Han Sans Neo", -apple-system,
      BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue,
      helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    --font-family-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
      monospace;
    --font-family-serif: Iowan Old Style, Apple Garamond, Baskerville,
      Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
      Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

    --radius-1: 2px;
    --radius-2: 5px;
    --radius-3: 1rem;
    --radius-4: 2rem;
    --radius-5: 4rem;
    --radius-6: 8rem;
    --radius-round: 1e5px;
  }

  body.dark-mode {
    --color-background: hsl(216deg 6% 15%);
    --color-background-secondary: hsl(240deg 8% 9%);
    --color-text: hsl(60deg 100% 100%);
    --color-headline: hsl(60deg 100% 100%);
    --color-paragraph: hsl(214deg 16% 64%);
    --color-primary: hsl(255deg 83% 65%);
    --color-secondary: hsl(155deg 61% 44%);
    --color-tertiary: hsl(225deg 5% 47%);
    --color-gray: hsl(210deg, 14%, 66%);
  }

  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    color: var(--color-text);
    background: var(--color-background);
    font-family: var(--font-family-sans);
    font-weight: var(--font-weight-regular);
    line-height: 1.6;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
  }

  p {
    color: var(--color-paragraph);
  }

  strong {
    font-weight: var(--font-weight-bold);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-headline);
    font-weight: var(--font-weight-bold);
  }

  iframe[title="YouTube video player"] {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
  }
}

@layer utilities {
  .max-width {
    width: 100%;
    max-width: 64rem;
    margin-inline: auto;
    padding-inline: 1rem;
    @media (min-width: 640px) {
      padding-inline: 2rem;
    }
  }
}
