---
import ArticleFooter from "./ArticleFooter.astro";

interface Props {
  tags?: string[];
  date: Date;
  editUrl?: string;
}

const { tags, date, editUrl } = Astro.props;
---

<article class="mx-auto max-w-3xl min-w-[300px] py-4 sm:px-8">
  <div class="prose lg:prose-lg">
    <slot />
  </div>
  <ArticleFooter {date} {tags} {editUrl} />
</article>
