---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="bg-background px-4 py-12 text-center sm:px-8 sm:py-16">
  <h1 class="max-width break-words text-4xl lg:text-5xl lg:leading-snug">
    {title}
  </h1>
</div>
