---
import Icon from "~/components/Icon.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Tags from "../components/Tags.astro";

interface Props {
  title: string;
  tags?: string[];
  date: Date;
}

const { title, tags, date } = Astro.props;
---

<article class="max-w-3xl mx-auto sm:px-8 py-4 min-w-[300px]">
  <header class="px-4 sm:px-8 py-12 sm:py-16 text-center">
    <h1 class="break-words text-3xl lg:text-4xl">{title}</h1>
  </header>
  <div class="prose lg:prose-lg">
    <slot />
  </div>
  <footer class="flex flex-wrap justify-between gap-4 py-12">
    <section>
      <Icon name="clock" inline />
      <FormattedDate class="align-middle" date={date} />
    </section>
    {tags && <Tags tags={tags} />}
  </footer>
</article>
