---
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon";
import FormattedDate from "../components/FormattedDate.astro";
import Tags from "../components/Tags.astro";

type Props = CollectionEntry<"problems">["data"];

const { title, tags, date } = Astro.props;
---

<article class="prose mx-auto max-w-3xl">
  <header class="px-8 py-16 text-center">
    <h1 class="break-words">{title}</h1>
  </header>
  <slot />
  <footer class="not-prose flex flex-wrap justify-between gap-4 py-12">
    <section>
      <Icon
        class="inline align-middle"
        pack="feather"
        name="clock"
        width="24px"
        height="24px"
      />
      <FormattedDate class="align-middle" date={date} />
    </section>
    <Tags tags={tags} />
  </footer>
</article>

<style>
  article {
    background: var(--color-background-secondary);
    border-radius: var(--spacing-4);
    padding: var(--spacing-4) var(--spacing-4);
    margin: var(--spacing-8) auto;
    min-width: 300px;
    /* max-width: 700px; */
  }
  @media (min-width: 34.375rem) {
    article {
      padding: var(--spacing-4) var(--spacing-8);
    }
  }
</style>
