---
import Tags from "~/components/Tags.astro";

export interface Props {
  href: string;
  slug: string;
  title: string;
  description?: string;
  tags?: string[];
}

const { href, slug, title, tags } = Astro.props;
---

<article
  class="flex flex-col justify-between gap-8 rounded-2xl bg-(--color-background-secondary) p-8"
>
  <header>
    <h3 class="text-xl">
      <a {href}>{title}</a>
    </h3>
  </header>
  {
    tags && (
      <footer>
        <Tags {tags} />
      </footer>
    )
  }
</article>
