---
import Card, { Props as CardProps } from "./Card.astro";

interface Props {
  title: string;
  articles: Array<CardProps>;
}

const { title, articles } = Astro.props;
---

<div class="wrapper">
  {
    title && (
      <header>
        <h1>{title}</h1>
      </header>
    )
  }
  <div class="grid">
    {articles.map((article) => <Card {...article} />)}
  </div>
</div>

<style>
  div.wrapper {
    margin: var(--spacing-8) auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
  }

  div.grid {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr;
    @media (min-width: 34.375rem) {
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
  }
</style>
