---
import Logo from "./FooterLogo.astro";
import Social from "./Social.astro";

const today = new Date();
---

<div>
  <footer class="max-width">
    <section class="flex flex-wrap items-center justify-around gap-4">
      <Logo />
      <Social />
    </section>
    <scetion>
      <p>
        &copy; 2022-{today.getFullYear()} AlgoDale. All rights reserved.
      </p>
    </scetion>
  </footer>
</div>

<style>
  div {
    margin-top: auto;
    isolation: isolate;
    transition: background 350ms ease 0s;
    background: var(--color-background);
  }

  footer {
    padding: var(--spacing-10);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
  }

  section.left {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-4);
    justify-content: space-around;
    align-items: center;
  }

  p {
    text-align: center;
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-regular);
    color: var(--color-gray);
  }
</style>
