---
import Logo from "./FooterLogo.astro";
import Social from "./Social.astro";

const today = new Date();
---

<div
  class="mt-auto pb-15 isolate transition-colors duration-[350ms] bg-background"
>
  <footer class="max-width flex flex-col gap-4 p-10">
    <section class="flex flex-wrap items-center justify-around gap-4">
      <Logo />
      <Social />
    </section>
    <section>
      <p class="text-center text-sm font-normal text-gray">
        &copy; 2021-{today.getFullYear()} AlgoDale. All rights reserved.
      </p>
    </section>
  </footer>
</div>
