<a href="/" title="AlgoDale logo - Home" class="flex">
  <svg
    width="113"
    height="23"
    viewBox="0 0 113 23"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M11.1607 2.02206L11.1484 2.00975C10.8243 1.68335 10.3847 1.5 9.92644 1.5C9.46814 1.5 9.0286 1.68335 8.70445 2.00975L0.505989 10.269C0.181995 10.5955 -9.53674e-06 11.0383 -9.53674e-06 11.5C-9.53674e-06 11.9617 0.181995 12.4045 0.505989 12.731L8.70445 20.9903C9.0286 21.3166 9.46814 21.5 9.92644 21.5C10.3847 21.5 10.8243 21.3166 11.1484 20.9903L11.1607 20.9779C11.4847 20.6514 11.6667 20.2086 11.6667 19.7469C11.6667 19.2852 11.4847 18.8424 11.1607 18.5158L4.92738 12.2386C4.83105 12.1417 4.75463 12.0265 4.70249 11.8998C4.65035 11.773 4.62351 11.6372 4.62351 11.5C4.62351 11.3628 4.65035 11.227 4.70249 11.1002C4.75463 10.9735 4.83105 10.8583 4.92738 10.7614L11.1607 4.48415C11.4847 4.1576 11.6667 3.7148 11.6667 3.2531C11.6667 2.79141 11.4847 2.3486 11.1607 2.02206Z"
      class="fill-(--color-primary)"
    ></path>
    <path
      d="M32.0515 8.1V6.156H29.8735V2.97H27.4975V11.25H29.8735V8.1H32.0515ZM25.7695 7.2C25.7695 6.66 25.6555 6.162 25.4275 5.706C25.2115 5.238 24.9055 4.836 24.5095 4.5C24.1255 4.164 23.6635 3.906 23.1235 3.726C22.5835 3.534 21.9955 3.438 21.3595 3.438C20.7355 3.438 20.1535 3.534 19.6135 3.726C19.0735 3.906 18.6055 4.164 18.2095 4.5C17.8135 4.836 17.5015 5.238 17.2735 5.706C17.0575 6.162 16.9495 6.66 16.9495 7.2C16.9495 7.752 17.0575 8.262 17.2735 8.73C17.5015 9.186 17.8135 9.582 18.2095 9.918C18.6055 10.254 19.0735 10.518 19.6135 10.71C20.1535 10.89 20.7355 10.98 21.3595 10.98C21.9955 10.98 22.5835 10.89 23.1235 10.71C23.6635 10.518 24.1255 10.254 24.5095 9.918C24.9055 9.582 25.2115 9.186 25.4275 8.73C25.6555 8.262 25.7695 7.752 25.7695 7.2ZM19.2355 7.2C19.2355 6.624 19.4335 6.174 19.8295 5.85C20.2255 5.514 20.7355 5.346 21.3595 5.346C21.9835 5.346 22.4935 5.514 22.8895 5.85C23.2855 6.174 23.4835 6.624 23.4835 7.2C23.4835 7.788 23.2855 8.25 22.8895 8.586C22.4935 8.91 21.9835 9.072 21.3595 9.072C20.7355 9.072 20.2255 8.91 19.8295 8.586C19.4335 8.25 19.2355 7.788 19.2355 7.2ZM30.3415 17.514H21.3055V16.434H29.8735V11.898H18.9295V13.734H27.5335V14.724H18.9475V19.35H30.3415V17.514ZM43.9121 13.644L46.2881 13.914C46.4561 13.038 46.5821 12.228 46.6661 11.484C46.7621 10.74 46.8281 10.05 46.8641 9.414C46.9121 8.766 46.9361 8.16 46.9361 7.596C46.9481 7.032 46.9541 6.492 46.9541 5.976V4.392H34.9121V6.282H44.5781C44.5781 7.242 44.5421 8.322 44.4701 9.522C44.4101 10.71 44.2241 12.084 43.9121 13.644ZM48.3941 17.55V15.642H41.0681V9.936H38.6921V15.642H33.4001V17.55H48.3941ZM65.1867 8.028V6.102H62.9907V2.952H60.6147V11.196H62.9907V8.028H65.1867ZM59.5707 10.296L59.3367 8.442C58.8687 8.538 58.4007 8.622 57.9327 8.694C57.4767 8.754 56.9907 8.808 56.4747 8.856C55.9587 8.904 55.4067 8.94 54.8187 8.964C54.2307 8.976 53.5827 8.982 52.8747 8.982V5.688H57.9327V3.834H50.5167V10.854H51.9027C52.7907 10.854 53.5827 10.848 54.2787 10.836C54.9867 10.824 55.6407 10.8 56.2407 10.764C56.8527 10.716 57.4227 10.656 57.9507 10.584C58.4907 10.512 59.0307 10.416 59.5707 10.296ZM63.4587 17.496H54.4227V16.452H62.9907V11.88H52.0467V13.752H60.6507V14.724H52.0647V19.35H63.4587V17.496ZM80.7193 19.53V2.952H78.4693V19.53H80.7193ZM77.2993 3.258H75.1033V8.604H73.4653V10.548H75.1033V18.774H77.2993V3.258ZM69.2533 13.734V10.944H72.7993V4.59H66.9313V6.48H70.4953V9.072H66.9493V15.678H68.1193C69.1513 15.678 70.1473 15.654 71.1073 15.606C72.0793 15.558 73.0993 15.438 74.1673 15.246L73.9693 13.338C73.1293 13.47 72.3313 13.566 71.5753 13.626C70.8193 13.674 70.0453 13.71 69.2533 13.734Z"
      class="fill-(--color-paragraph)"
    ></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M98.2348 1.64807C99.1211 1.97318 99.5464 2.73224 99.1866 3.34339L90.0072 18.8357C89.6456 19.4468 88.6335 19.6784 87.7455 19.3519C86.8593 19.0268 86.4339 18.2664 86.7955 17.6552L95.9732 2.16434C96.3348 1.55319 97.3468 1.32157 98.2348 1.64807Z"
      class="fill-(--color-primary)"
    ></path>
    <path
      d="M101.82 2.02206L101.833 2.00975C102.157 1.68335 102.596 1.5 103.055 1.5C103.513 1.5 103.953 1.68335 104.277 2.00975L112.475 10.269C112.799 10.5955 112.981 11.0383 112.981 11.5C112.981 11.9617 112.799 12.4045 112.475 12.731L104.277 20.9903C103.953 21.3166 103.513 21.5 103.055 21.5C102.596 21.5 102.157 21.3166 101.833 20.9903L101.82 20.9779C101.496 20.6514 101.314 20.2086 101.314 19.7469C101.314 19.2852 101.496 18.8424 101.82 18.5158L108.054 12.2386C108.15 12.1417 108.227 12.0265 108.279 11.8998C108.331 11.773 108.358 11.6372 108.358 11.5C108.358 11.3628 108.331 11.227 108.279 11.1002C108.227 10.9735 108.15 10.8583 108.054 10.7614L101.82 4.48415C101.496 4.1576 101.314 3.7148 101.314 3.2531C101.314 2.79141 101.496 2.3486 101.82 2.02206Z"
      class="fill-(--color-primary)"
    ></path>
  </svg>
  <div class="sr-only">Logo</div>
</a>
