---
import Icon, { type Props as IconProps } from "~/components/Icon.astro";

interface Props {
  to: string;
  title: string;
  icon: IconProps["name"];
  text: string;
}

const { to, title, icon, text } = Astro.props;

const { pathname } = Astro.url;
const active = to === pathname || pathname.startsWith(to);
---

<a
  href={to}
  title={title}
  class:list={[
    "group flex items-center gap-1 p-2 text-(--color-text) text-base transition-colors hover:underline hover:decoration-[3px] hover:decoration-primary hover:underline-offset-[5px]",
    active &&
      "font-bold underline decoration-[3px] decoration-primary underline-offset-[5px]",
  ]}
>
  <Icon
    name={icon}
    size="28px"
    class:list={[
      "mx-2 text-(--color-text) transition-colors group-hover:text-primary sm:hidden",
      active && "text-primary",
    ]}
  />
  <span class="hidden sm:inline">
    {text}
  </span>
</a>
