---
import Icon, { Props as IconProps } from "~/components/Icon.astro";

interface Props {
  to: string;
  title: string;
  icon: IconProps["name"];
  text: string;
}

const { to, title, icon, text } = Astro.props;

const { pathname } = Astro.url;
const active = to === pathname || pathname.startsWith(to);
---

<a
  href={to}
  title={title}
  class:list={[
    "hover:underline hover:underline-offset-4 hover:decoration-2 hover:decoration-primary",
    {
      "font-bold underline underline-offset-4 decoration-2 decoration-primary":
        active,
    },
  ]}
>
  <Icon
    name={icon}
    size={active ? "36px" : "24px"}
    class="hover:text-primary sm:hidden"
  />
  <span class="hidden sm:block">
    {text}
  </span>
</a>

<style>
  a {
    display: flex;
    gap: var(--spacing-1);
    align-items: center;

    padding: var(--spacing-2) var(--spacing-2);

    color: var(--color-text);

    font-size: var(--font-size-4);
  }

  span {
    @media (min-width: 34.375rem) {
      display: revert;
    }
  }
</style>
