---
const { to, title } = Astro.props;

const { pathname } = Astro.url;
const active = to === pathname || pathname.startsWith(to);
---

<a
  href={to}
  title={title}
  class:list={[
    "hover:underline hover:underline-offset-4 hover:decoration-2 hover:decoration-primary",
    {
      "font-bold underline underline-offset-4 decoration-2 decoration-primary":
        active,
    },
  ]}
>
  <slot />
</a>

<style>
  a {
    display: flex;
    gap: var(--spacing-1);
    align-items: center;

    padding: var(--spacing-1) var(--spacing-2);

    color: var(--color-text);

    font-size: var(--font-size-4);
    font-weight: var(--font-weight-regular);
  }

  span {
    @media (min-width: 34.375rem) {
      display: revert;
    }
  }
</style>
