---
import Logo from "./HeaderLogo.astro";
import Nav from "./HeaderNav.astro";
---

<div
  class="sticky top-[-16px] z-[1] pt-4 transition-colors duration-[350ms] bg-background opacity-[0.85] backdrop-blur-[10px]"
>
  <header class="max-width flex items-center gap-4 py-4">
    <Logo />
    <Nav />
  </header>
</div>
