---
import Icon, { type Props as IconProps } from "~/components/Icon.astro";

interface Props {
  to: string;
  title: string;
  icon: IconProps["name"];
  text: string;
}

const { to, title, icon, text } = Astro.props;

const { pathname } = Astro.url;
const active = to === pathname || pathname.startsWith(to);
---

<a href={to} title={title} class:list={{ active }}>
  <Icon name={icon} size="28px" class:list={["icon", { active }]} />
  <span>
    {text}
  </span>
</a>

<style>
  a {
    display: flex;
    gap: var(--spacing-1);
    align-items: center;

    padding: var(--spacing-2);

    color: var(--color-text);

    font-size: var(--font-size-4);

    &:hover,
    &.active {
      text-decoration: underline;
      text-underline-offset: 5px;
      text-decoration-thickness: 3px;
      text-decoration-color: var(--color-primary);
    }

    &.active {
      font-weight: var(--font-weight-bold);
    }
  }

  span {
    display: none;

    @media (min-width: 640px) {
      display: revert;
    }
  }

  .icon {
    margin-inline: var(--spacing-2);

    &:hover,
    &.active {
      color: var(--color-primary);
    }

    @media (min-width: 640px) {
      display: none;
    }
  }
</style>
