---
import Link from "~/components/HeaderNavLink.astro";
---

<nav>
  <ul class="flex items-center">
    <li>
      <Link to="/problems/" title="문제 해결" icon="book" text="Problems" />
    </li>
    <li>
      <Link to="/algorithms/" title="알고리즘" icon="loop" text="Algorithms" />
    </li>
    <li>
      <Link
        to="/data-structures/"
        title="자료구조"
        icon="graph"
        text="DataStructures"
      />
    </li>
    <li>
      <Link to="/guides/" title="준비 가이드" icon="direction" text="Guides" />
    </li>
    <li>
      <Link
        to="https://www.dalestudy.com/"
        title="달레 스터디"
        icon="school"
        text="Study"
      />
    </li>

    <!-- <li>
			<a href="/patterns/" title="풀이 유형">Patterns</a>
		</li> -->
  </ul>
</nav>
