---
import Icon, { type Props as IconProps } from "~/components/Icon.astro";

interface Props {
  to: string;
  title: string;
  icon: IconProps["name"];
  text: string;
}

const { to, title, icon, text } = Astro.props;

const { pathname } = Astro.url;
const active = to === pathname || pathname.startsWith(to);
---

<a
  href={to}
  title={title}
  class:list={[
    "group text-text hover:decoration-primary flex items-center gap-1 p-2 text-base transition-colors hover:underline hover:decoration-[3px] hover:underline-offset-[5px]",
    active &&
      "decoration-primary font-bold underline decoration-[3px] underline-offset-[5px]",
  ]}
>
  <Icon
    name={icon}
    size="28px"
    class:list={[
      "text-text group-hover:text-primary mx-2 transition-colors sm:hidden",
      active && "text-primary",
    ]}
  />
  <span class="hidden sm:inline">
    {text}
  </span>
</a>
