---
import MaxWidthWrapper from "./MaxWidthWrapper.astro";
import Logo from "./HeaderLogo.astro";
import Nav from "./HeaderNav.astro";
---

<div>
  <MaxWidthWrapper>
    <header>
      <Logo />
      <Nav />
    </header>
  </MaxWidthWrapper>
</div>

<style>
  div {
    position: sticky;
    z-index: 1;
    top: -16px;
    padding-top: var(--spacing-4);
    transition: background 350ms ease 0s;
    background: var(--color-background);
    opacity: 0.85;
    backdrop-filter: blur(10px);
  }

  header {
    display: flex;
    /* flex-direction: column; */
    gap: var(--spacing-4);
    align-items: center;
    padding: 16px 0;
    @media (min-width: 34.375rem) {
      flex-direction: row;
    }
  }
</style>
