---
import Logo from "./HeaderLogo.astro";
import Nav from "./HeaderNav.astro";
---

<div
  class="bg-background sticky top-[-16px] z-[1] pt-4 opacity-[0.85] backdrop-blur-[10px] transition-colors duration-[350ms]"
>
  <header class="max-width flex items-center gap-4 py-4">
    <Logo />
    <Nav />
  </header>
</div>
