---
import Icon from "~/components/Icon.astro";
---

<a
  target="_blank"
  rel="noopener noreferrer"
  href="https://discord.gg/jf9vyQQvXy"
  class="fixed bottom-5 right-5 block rounded-full bg-(--color-primary) p-2 text-(--color-background) shadow-[0_5px_15px_rgba(0,0,0,0.35)]"
>
  <Icon name="chat" size="25px" />
</a>
