---
import Icon from "~/components/Icon.astro";
---

<a
  target="_blank"
  rel="noopener noreferrer"
  href="https://discord.gg/jf9vyQQvXy"
>
  <Icon name="chat" size="25px" />
</a>

<style>
  a {
    color: var(--color-background);
    display: block;
    position: fixed;
    bottom: var(--spacing-5);
    right: var(--spacing-5);
    padding: var(--spacing-2);
    background: var(--color-primary);
    border-radius: var(--radius-round);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
</style>
