---
import Icon from "~/components/Icon.astro";
---

<a
  target="_blank"
  rel="noopener noreferrer"
  href="https://discord.gg/jf9vyQQvXy"
  class="bg-primary text-background fixed right-5 bottom-5 block rounded-full p-2 shadow-[0_5px_15px_rgba(0,0,0,0.35)]"
>
  <Icon name="chat" size="25px" />
</a>
