---
import { Image } from "astro:assets";
import { SITE_TITLE, SITE_DESCRIPTION } from "~/consts";
import hero from "~/assets/hero.jpg";
---

<header
  class="relative grid h-[min(40vh,400px)] place-items-center overflow-hidden bg-black/20 my-8"
>
  <div class="relative z-10 p-1 text-center text-white">
    <h1 class="text-5xl leading-loose text-white">{SITE_TITLE}</h1>
    <p class="text-2xl leading-loose text-white">
      {SITE_DESCRIPTION}
    </p>
  </div>
  <Image
    src={hero}
    alt=""
    class="absolute inset-0 h-full w-full object-cover -z-10"
  />
</header>
