---
import Icon from "~/components/Icon";
---

<ul class="flex gap-2">
  <li>
    <a
      href="https://github.com/DaleSeo"
      target="_blank"
      rel="noopener noreferrer"
      class="block p-2"
    >
      <Icon name="github" size={20} />
    </a>
  </li>
  <li>
    <a
      href="https://youtube.com/@DaleSeo"
      target="_blank"
      rel="noopener noreferrer"
      class="block p-2"
    >
      <Icon name="youtube" size={20} />
    </a>
  </li>
  <li>
    <a
      href="https://twitter.com/DaleSeo"
      target="_blank"
      rel="noopener noreferrer"
      class="block p-2"
    >
      <Icon name="twitter" size={20} />
    </a>
  </li>
  <li>
    <a
      href="https://discord.gg/ZM9seuUYBz"
      target="_blank"
      rel="noopener noreferrer"
      class="block p-2"
    >
      <Icon name="discord" size={20} />
    </a>
  </li>
  <li>
    <a
      href="https://medium.com/@dale.seo"
      target="_blank"
      rel="noopener noreferrer"
      class="block p-2"
    >
      <Icon name="medium" size={20} />
    </a>
  </li>
</ul>
