---
import Icon from "./Icon.astro";
---

<ul class="flex gap-2">
  <li>
    <a
      href="https://github.com/DaleSeo"
      target="_blank"
      rel="noopener noreferrer"
      class="block p-2"
    >
      <Icon name="simple-icons:github" size={20} />
    </a>
  </li>
  <li>
    <a
      href="https://youtube.com/@DaleSeo"
      target="_blank"
      rel="noopener noreferrer"
      class="block p-2"
    >
      <Icon name="simple-icons:youtube" size={20} />
    </a>
  </li>
  <li>
    <a
      href="https://twitter.com/DaleSeo"
      target="_blank"
      rel="noopener noreferrer"
      class="block p-2"
    >
      <Icon name="simple-icons:twitter" size={20} />
    </a>
  </li>
  <li>
    <a
      href="https://discord.gg/ZM9seuUYBz"
      target="_blank"
      rel="noopener noreferrer"
      class="block p-2"
    >
      <Icon name="simple-icons:discord" size={20} />
    </a>
  </li>
  <li>
    <a
      href="https://medium.com/@dale.seo"
      target="_blank"
      rel="noopener noreferrer"
      class="block p-2"
    >
      <Icon name="simple-icons:medium" size={20} />
    </a>
  </li>
</ul>
