---
import Icon from "~/components/Icon.astro";
---

<ul class="flex gap-2">
  <li>
    <a
      href="https://github.com/DaleSeo/AlgoDale"
      target="_blank"
      rel="noopener noreferrer"
      class="block p-2"
    >
      <Icon name="github" size="20px" />
    </a>
  </li>
  <li>
    <a
      href="https://youtube.com/@DaleSeo"
      target="_blank"
      rel="noopener noreferrer"
      class="block p-2"
    >
      <Icon name="youtube" size="20px" />
    </a>
  </li>
  <li>
    <a
      href="https://dalejule.com/"
      target="_blank"
      rel="noopener noreferrer"
      class="block p-2"
    >
      <Icon name="podcast" size="20px" />
    </a>
  </li>
  <li>
    <a
      href="https://x.com/DaleSeo"
      target="_blank"
      rel="noopener noreferrer"
      class="block p-2"
    >
      <Icon name="x" size="20px" />
    </a>
  </li>
  <li>
    <a
      href="https://discord.gg/jf9vyQQvXy"
      target="_blank"
      rel="noopener noreferrer"
      class="block p-2"
    >
      <Icon name="discord" size="20px" />
    </a>
  </li>
  <li>
    <a
      href="https://buymeacoffee.com/daleseo"
      target="_blank"
      rel="noopener noreferrer"
      class="block p-2"
    >
      <Icon name="buyMeACoffee" size="20px" />
    </a>
  </li>
</ul>
