---
interface Props {
  headings: Array<{
    depth: number;
    slug: string;
    text: string;
  }>;
}

const { headings } = Astro.props;
---

<aside
  class="relative hidden border-l py-24 pl-8 lg:sticky lg:top-0 lg:block lg:shrink lg:grow-0 lg:basis-[280px]"
>
  <nav>
    <h2 class="mb-4 text-xl">목차</h2>
    {
      headings
        .filter(({ depth }) => depth < 3)
        .map(({ slug, text }) => (
          <a
            href={`#${slug}`}
            class="mb- hover:decoration- block hover:text-primary hover:no-underline"
          >
            {text}
          </a>
        ))
    }
  </nav>
</aside>
