---
import { getEntry } from "astro:content";
import Icon from "~/components/Icon.astro";

interface Props {
  tag: string;
}

const { tag: tagId } = Astro.props;

const { data } = (await getEntry("tags", tagId)) || {
  data: { name: undefined, icon: undefined },
};
const { name = tagId, icon = "tag" } = data;
---

<a
  href={`/tags/${tagId}/`}
  title={name || tagId}
  class="bg-background text-text flex items-center gap-1 rounded-s px-2 py-1 text-xs opacity-70"
>
  {icon && <Icon name={icon} size="12px" />}
  {name || tagId}
</a>
