---
import TagLink from "./TagLink.astro";

interface Props {
  collection?: string;
  tags: Array<string>;
}

const { tags } = Astro.props;
---

<div class="flex justify-end flex-wrap gap-1">
  {tags.map((tag) => <TagLink tag={tag} />)}
</div>
