---
import "../styles/global.css";
import { SEO } from "astro-seo";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title: pageTitle } = Astro.props;

const title = pageTitle ? `${pageTitle} | 알고달레` : "알고달레";
const description = "달레와 함께하는 코딩 시험과 면접 준비";
const image =
  "https://res.cloudinary.com/daleseo/image/upload/v1685926367/algodale/og.png";
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title,
          type: "website",
          image,
          url: "https://www.algodale.com",
        },
        optional: {
          siteName: title,
          description,
          locale: "ko",
        },
      }}
      twitter={{
        creator: "@DaleSeo",
        image,
        imageAlt: title,
        title,
        description,
      }}
    />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
