---
import "~/styles/global.css";
import { SEO } from "astro-seo";
import GoogleAnalytics from "~/components/GoogleAnalytics.astro";
import Header from "~/components/Header.astro";
import Footer from "~/components/Footer.astro";
import MaxWidthWrapper from "~/components/MaxWidthWrapper.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title: pageTitle, description: pageDescription } = Astro.props;

const title = pageTitle ? `${pageTitle} | 알고달레` : "알고달레";
const description =
  pageDescription ?? "달레가 코딩 테스트를 위한 알고리즘 공부를 도와드릴께요";
const image =
  "https://res.cloudinary.com/daleseo/image/upload/v1685926367/algodale/og.png";
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title,
          type: "website",
          image,
          url: "https://www.algodale.com",
        },
        optional: {
          siteName: title,
          description,
          locale: "ko",
        },
      }}
      twitter={{
        creator: "@DaleSeo",
        image,
        imageAlt: title,
        title,
        description,
      }}
    />
    <GoogleAnalytics />
  </head>
  <body>
    <MaxWidthWrapper>
      <Header />
    </MaxWidthWrapper>
    <main>
      <slot />
    </main>
    <MaxWidthWrapper>
      <Footer />
    </MaxWidthWrapper>
  </body>
</html>
