---
import CardList from "~/components/CardList.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
import type { Props as IconProps } from "~/components/Icon.astro";

interface Props {
  icon: IconProps["name"];
  title: string;
  articles: any[];
}

const { icon, title, articles } = Astro.props;
---

<BaseLayout title={title}>
  <div class="max-width">
    <CardList icon={icon} title={title} articles={articles} />
  </div>
</BaseLayout>
