---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import MaxWidthWrapper from "../components/MaxWidthWrapper.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"problems">["data"];

const { title, tags, date } = Astro.props;
---

<BaseLayout>
  <MaxWidthWrapper>
    <article>
      <h1 class="title">{title}</h1>
      <FormattedDate date={date} />
      <hr />
      <slot />
    </article>
  </MaxWidthWrapper>
</BaseLayout>
